/* Reset e variáveis */
* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Noto sans', sans-serif;
}

.cor {
    color: var(--cor-principal);
    
}

:root {
    --cor-principal: rgb(54, 161, 255);
    --cor-titulo: rgb(11, 103, 182);
    --gradiente-principal: linear-gradient(90deg, rgba(55,112,219,1) 0%, rgba(54,164,255,1) 27%, rgba(77,155,233,1) 80%);

}

.borda {
    border: 2px solid red;

}

/* Estilização principal */
body, html {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

.sessao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

}

.titulo {
    font-size: 2em;
    margin-bottom: 16px;
    color: var(--cor-titulo);

}

.linha-1 {
    width: 90%;
    height: 1px;
    background: linear-gradient(90deg, rgba(150,150,150,1) 0%, rgba(221,221,221,1) 80%);
    margin: 0 0 30px 0;
}

.linha-2 {
    width: 85%;
    height: 1px;
    background: linear-gradient(90deg, rgba(218,218,218,1) 0%, rgba(150,150,150,1) 80%);
    margin: 0 0 30px 0;
}

.soon {
    text-align: center;
    margin-top: 110px;
    color: rgb(160, 160, 160);
    font-size: 1.6em;
}

/* Conteúdo do Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 20px 0;
    border-bottom: 1px solid gray;
    /*box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2) */
}

nav #menu {
    display: flex;
    justify-content: center;
    width: 600px;
}

#midias-sociais {
    display: flex;
}

#midias-sociais li {
    padding: 0 8px;
    margin-bottom: 2px;
}

.link-social {
    transition: 300ms;
    font-size: 1.8em;
    color: black;
}

.link-social:hover {
    color: rgb(54, 54, 54);
    font-size: 2.1em;

}

nav ul li {
    padding: 0 8px;
}

#principal {
    border-radius: 100px;
    color: var(--cor-principal);
    font-size: 1.8em;
    line-height: 15px;
    padding: 7px 10px 7px 10px;
    margin: 0 3px;
    text-align: center;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

.link-de-navegacao {
    transition: border-width 400ms linear;
    color: rgb(62, 62, 62);
    font-size: 1.1em;
    text-decoration: none;
    border: 0 solid gray;
}

.link-de-navegacao::after {
    transition: 300ms;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(111, 111, 111);
}

.link-de-navegacao:hover:after {
    width: 100%;

}

#manipulacao-de-cores {
    display: flex;
    justify-content: end;
    margin-bottom: 15px; /* Alinhar com o header */
    width: 200px;
}

.botao-de-cor {
    transition: 200ms;
    border: 1px solid gray;
    font-size: 1.7em;
    color: black;
    margin: 0 10px;
    padding: 7px 12px;
    border-radius: 50px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

.botao-de-cor:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
    background-color: rgb(244, 244, 244);

}

.mudar-cores {
    cursor: pointer;
    width: 55px;
    height: 55px;
}

.mudar-cores::-webkit-color-swatch {
    border-radius: 80px;
    padding: 16px;
    border: none;
    position: relative;
    right: 3px;
}

.mudar-cores::-moz-color-swatch {
    border-radius: 80px;
    padding: 16px;
    border: none;
}

.lua {
    padding: 7px 15px;

}

/* Conteúdo principal */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 100px 10px 10px 10px;
}

#apresentacao {
    width: 50%;
    text-align: center;
    padding: 10px;
    margin-bottom: 150px;
}

#apresentacao h1 {
    font-size: 3.2em;
    margin-bottom: 10px;
}

#apresentacao h1 span {
    background: var(--gradiente-principal);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#apresentacao p {
    font-size: 1.1em;
    letter-spacing: .5px;
    line-height: 22px;
}

/*#apresentacao::after {
    content: '';
    display: block;
    width: 200px;
    height: 3px;
    background-color: gray;
    margin: 10px 358px;

} */

/* Habilidades */
.apresentacao-habilidades {
    text-align: center;
    padding: 20px 0;
}

.apresentacao-habilidades p {
    font-size: 1.15em;

}

#lista-de-habilidades {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 80%;
    margin-bottom: 150px;
}

#lista-de-habilidades li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 170px;
    margin: 15px 50px;
    font-size: 1.2em;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.112);
    border-bottom: 2px solid blue;
}

#lista-de-habilidades li i {
    font-size: 3em;
    margin-bottom: 10px;

}

.tempo-de-estudo {
    text-align: center;
    font-size: .75em;
    font-weight: bold;
    bottom: 0;
    margin-top: 15px;
}

/* Projetos */
#projetos {
    margin-bottom: 50px;

}

#projetos h2 {
    margin-bottom: 50px;

}

.carrossel {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1400px;
    height: 350px;
}

.empacotador-de-elementos {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.galeria-de-projetos {
    display: flex;
    flex-flow: row no-wrap;
    gap: 30px;
}

.card-de-projeto {
    text-align: center;
    border-radius: 20px;
    width: 445px;
    max-width: 475px;
    height: 300px;
    background-color: white;
    border: 1px solid gray;
}

/*.card-de-projeto img {
    width: 475px;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}*/

.card-de-projeto .descricao-card-projeto {
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: start;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.descricao-card-projeto h3 {
    display: inline-block;
    transition: 230ms;
    font-size: 1.4em;
    margin-bottom: 30px;
    color: black;
}

.descricao-card-projeto h3:hover {
    color: var(--cor-titulo);

}

.descricao-card-projeto h3:after {
    content: '\f09b';
    font-family: FontAwesome;
    visibility: hidden;
    opacity: 0;
    transition: 200ms;
    font-size: .9em;
    
}

.descricao-card-projeto h3:hover:after {
    transition: 200ms;
    visibility: visible;
    animation-name: mostrar-github;
    animation-duration: 500ms;
    animation-fill-mode: both;
}

@keyframes mostrar-github {
    from {
        opacity: 0;
        margin-left: 0;

    } to {
        opacity: 1;
        margin-left: 15px;

    }
}

@keyframes esconder-github {
    from {
        opacity: 1;
        margin-left: 15px;
        
    } to {
        opacity: 0;
        margin-left: 0;

    }
}

.descricao-card-projeto p + p {
    position: relative;
    top: 25%;
    font-size: .9em;
}

.item {
    flex-shrink: 0;
    transition: all 400ms ease-in-out;

}

.seta-anterior, .seta-posterior {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 1.3em;
    color: var(--cor-principal);
    border: 1px solid gray;
    border-radius: 100px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .3);
}

.seta-anterior {
    left: -60px;

}

.seta-posterior {
    right: -60px;

}

/* Contato */
#contato {
    align-items: start;
    padding: 15px;
}

#contato h2 {
    font-size: 1.7em;
    color: rgb(65, 65, 65);
}

.caixa-de-contato {
    margin-left: 140px;

}

.contatos ul {
    font-size: 1.2em;

}

.contatos ul li i {
    margin-right: 10px;

}

/* Rodapé */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 35px 15px;
    margin-top: 100px;
    background-color: rgb(241, 241, 241);
}

#mapa-do-site {
    display: flex;

}

#mapa-do-site li {
    padding: 0 8px;

}

#mapa-do-site li a {
    color: rgb(92, 92, 92);

}

#mapa-do-site li a:hover {
    border-bottom: 1px solid rgb(92, 92, 92);

}

/* Responsividade */
@media (max-width: 1273px) {
    #habilidades {
        margin-bottom: 150px;

    }

}

@media (max-width: 959px) {
    #habilidades {
        margin-bottom: 300px;

    }

}

@media (max-width: 1200px) {
    .link-de-navegacao {
        background-color: rgba(255, 0, 0, 0.259);

    }

} /* Menu hamburguer */ 
